.logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.logo a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.6em;
  padding-bottom: 0.2em;
}
