.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem 4rem 0rem;
}

.container {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  padding-top: 1rem;
}

.container img {
  flex: 1 1 0;
}

.container .text {
  flex: 4 1 0;
  min-width: 15rem;
}

@media screen and (min-width: 1250px) {
  .about {
    width: 1100px;
    margin: 0 auto;
  }
}
