.home {
  background: rgb(50, 50, 50);
  background: linear-gradient(
    180deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(90, 90, 90, 1) 81%
  );
  height: 50vh;
  position: relative;
}

.greeting {
  position: absolute;
  top: 17%;
  left: 4rem;
  color: white;
}
